/*------------Global------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {

}

.container {
  padding: 20px 10px;
}


/*------------Mast------------*/
#mast {
  text-align: center;
  border-bottom: 2px solid grey;
  box-shadow: 0 4px 2px -2px gray;
  overflow: auto;
}

#mast img {
  max-width: 100%;
}


/*------------Content------------*/
#content {
  /*position: relative;
  overflow: auto;*/
}

/*------------Column 1------------*/
#col1 {

}

#col1 ul {
  width: 100%;
}
#col1 li {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}
#col1 li a:hover {
  color: blue;

}
/*------------Column 2------------*/
#col2 {
  margin-top: 5%;
  text-align: center;
}
#col2 img {
  max-width: 100%;
  border-radius: 3px;
}
/*------------Footer------------*/
#footer {

}

#navbar {

}

/*------------Media Queries------------*/
@media screen and (max-width: 1000px) and (min-width: 601px) {
  #mast img {
    width: 30%;
  }
  #col1 {
    width: 10%;
    float: left;
    /*margin: 5%;*/
    margin-top: 5%;
  }
  #col1 li {
    clear left;

    margin: 20% 0 20% 0;
    padding-bottom: 10%;
    border-bottom: 1px solid grey;
  }
  #col2 {
    width: 88%;
    float: right;
  }
  #col2 img {
    width: 24%;
  }
}
@media screen and (max-width: 600px) {
  #mast img {
    width: 30%;
    overflow: auto;
    position: relative;

  }
  #col1 {
    margin-top: 5%;
    overflow: auto;
  }
  #col1 ul {
    padding: 2px 10px;
    /*border: 1px solid green;*/
    position: relative;

  }
  #col1 li {
    float: left;
    list-style: none;
    text-align: center;
    width: 23%;
  }
  #col1 a {
    /*display: block;*/
    font-weight: 600;
    text-decoration: none;
  }
  #col2 img {
    width: 100%;
  }
  #col2 img:first-child, #col2 img:nth-child(6), #col2 img:nth-child(5), #col2 img:nth-child(4), #col2 img:nth-child(3), #col2 img:nth-child(2), #col2 img:last-child  {
    display: none;
  }
  #col2 img:nth-child(7) {
    position: absolute;
    padding: 2%;
    right: .050%;
  }

}
